@import url('../css/fonts.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-midnignt: #191970;
    --clr-accent: #0eb1da;

/* Theme Colors */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* Gradient color */
    --mango: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /* theme font family */
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;


}

/* ---------------global classes-------------- */

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

strong{
    font-size: 1.3rem;
}
span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
    color: var(--clr-dark);
}
/* ---------------global classes-------------- */

/* navbar */

.nav{
    background: var(--white);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 80%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 22rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
}

/* navbar */

/*----------------- Main Content ------------------*/

main .site-title{
    height: auto;
    /* background: linear-gradient(135deg, rgba(89, 89, 201, 0.9) 0%, rgba(89, 89, 201, 0.9) 
    100%), url("../img/logo1.png") center no-repeat;
    background-size: 1000px;
    background-position: center; */
    background-color: var(--midnight);
    background-image: url(../img/bc-bee-products.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    display: flex;
    justify-content: center;
}

main .site-title .main-message{
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 1rem;
    text-align: left;
    color: var(--white);
}

main .site-title .main-message h1, h3{
    margin: .3rem;
}

main .site-title .main-message h2{
    margin-top: 5rem;
}

main .site-title .main-message p{
    font-size: 1rem;
}

/*------------- Products Carousel ------------------*/

main .products{
    background: url('../img/combs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: auto;
    width: 100%;
}

main .products h1{
    font-size: 2rem;
    text-align: center;
}
main .products .product-post{
    padding-top: 6rem;
}

main .product-post .product-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .8) 
    100%);
}

main .product-content img{
    width: 100%;
    height: 35vh;
}

main .product-content .product-title{
    padding: 2rem 1rem;
    justify-content: center;
    text-align: center;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/*------------- Products Carousel ------------------*/

/*---------------- Our services section ---------------*/

.our-services {
    background-color: var(--midnight);
    background-image: url(../img/bc-bee-products.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
    padding-top: 2rem;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

 .services {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

 .service{
    max-width: 400px;
    margin: 0;
}
.service + .service{
    margin-left: 2em;
} 

.our-services .btn{
    margin-bottom: 1.8rem;
    background: var(--clr-accent);
}

.our-services .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: #fff;
}
/* .service {
    max-width: 500px;
    margin: 0 auto;
} */

/*---------------- Our services section ---------------*/

/*----------------- Equipments Section ----------------*/

.equipments{
    padding: 0;
}

.equipments-title{
    text-align: center;
    padding: 0;
}

.category-title,
.category-footer{
    text-align: center;
}
.category-title{
    margin-top: 3rem;
}

.equipment-category{
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
}

.equipment-list{
    margin: 1rem 0.5rem;
    height: auto;
    max-width: 400px;
    padding: 1rem;
    /* margin: 2rem; */
    text-align: center;
    color: var(--clr-light);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.equipment-list::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bc-bee-products.jpg');
    background-color: var(--clr-midnignt);
    background-blend-mode: multiply;
    background-size: cover;
    z-index: -1;
}

.equipment-list + .equipment-list{
    /* padding-left: 2rem; */
}
/*----------------- Equipments Section ----------------*/

/*----------------- Main Content ------------------*/

/* Viewport less than or equal to 750px */

@media only screen and (max-width: 750px){
    .nav{
        padding: 0 0.5rem;
    }
    .nav .nav-items .nav-link{
        padding: 0.9rem 1rem;
        font-size: 0.9rem;
    }
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }

    main .site-title{
        background-size: 400px;
    }

    main .site-title .main-message h1{
        font-size: 2rem;
    }

    .service + .service{
        margin-right: 2em;
    }
    .equipment-list + .equipment-list{
        /* margin-right: 2rem; */
    }
}

@media only screen and (max-width: 350px){
    .nav{
        padding: 0 .2rem;
    }
    .nav .nav-brand a{
        font-size: 1.5rem;
    }
    .nav .toggle-collapse{
        margin-right: 0;
        width: 95%;
    }
    main .site-title{
        background-size: 350px;
    }
}

/* Viewport less than or equal to 750px */