@import url('../css/fonts.css');

html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-midnignt: #191970;
    --clr-accent: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

/* Theme Colors */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --text-gray: #3f4954;
    --text-light: #686666da;
    --text-accent: #a1c4fd;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* Gradient color */
    --mango: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /* theme font family */
    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin:'Josefin',cursive;
    --Lexend:'Lexend',cursive;
    --Livvic:'Livvic',cursive;


}

/* ---------------global classes-------------- */

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Lexend);
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

strong{
    font-size: 2rem;
}
span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--Livvic);
    cursor: pointer;
    color: var(--clr-dark);
    background: var(--clr-accent);
}

/* ---------------global classes-------------- */

/* navbar */

.nav{
    background: var(--white);
    padding: 0 2rem;
    height: 0rem;
    min-height: 11.5vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 80%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
    margin-top: 1rem;
}

.collapse{
    height: 22.5rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
}
.nav .nav-brand img{
    width: 3rem;
    height: 3rem;
    margin: 0;
}

/* navbar */

/*----------------- Main Content ------------------*/

main .site-title{
    height: auto;
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/comb-bees.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: var(--clr-light);
    display: flex;
    justify-content: center;
}

main .site-title .main-message{
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 1rem;
    text-align: left;
    color: var(--white);
}

main .site-title .main-message h1, h3{
    margin: .3rem;
}

main .site-title .main-message h2{
    margin-top: 5rem;
}

main .site-title .main-message p{
    font-size: 1.5rem;
    margin-right: 30%;
}

main .site-title .main-message .btn{
    margin-left: 35%;
    margin-bottom: 2rem;
    font-weight: bold;
}

main .site-title .main-message .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: #fff;
}

main .site-title .main-message .btn i{
    margin-right: .6rem;
    font-weight: bold;
}

/*------------- Products Carousel ------------------*/

main .products{
    background: url('../img/combs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    height: auto;
    width: 100%;
}

main .products h1{
    font-size: 2rem;
    text-align: center;
}
main .products .product-post{
    padding-top: 6rem;
}

main .product-post .product-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .8) 
    100%);
}

main .product-content img{
    width: 100%;
    height: 35vh;
}

main .product-content .product-title{
    padding: 2rem 1rem;
    justify-content: center;
    text-align: center;
}

section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 2rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/*------------- Products Carousel ------------------*/

/*---------------- Our services section ---------------*/

.our-services {
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/site-setup.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--text-accent);
    position: relative;
    padding-top: 2rem;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

 .services {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

 .service{
    max-width: 400px;
    margin: 0;
}
.service + .service{
    margin-left: 2em;
} 

.our-services .btn{
    margin-bottom: 1.8rem;
    background: var(--clr-accent);
}

.our-services .btn:hover{
    background: transparent;
    border: 1px solid var(--white);
    color: #fff;
}

/*---------------- Our services section ---------------*/

/*----------------- Equipments Section ----------------*/

.equipments{
    padding: 0;
}

.equipments-title{
    text-align: center;
    padding: 0;
}

.category-title,
.category-footer{
    text-align: center;
}
.category-title{
    margin-top: 3rem;
}

.equipment-category{
    /* text-align: center; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equipment-list{
    margin: 1rem 0.5rem;
    height: auto;
    max-width: 400px;
    padding: 1rem;
    text-align: center;
    color: var(--clr-light);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.equipment-list::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.equipment-list.hives::before{
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/hives.jpg);
}
.equipment-list.bee-suit::before{
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/site-survey.jpg);
}
.equipment-list.smoker::before{
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/smoker.jpg);
}
.equipment-list.glove::before{
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/hives.jpg);
}
.equipment-list.gumboot::before{
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/hives.jpg);
}
.equipment-list.harvesting::before{
    background: linear-gradient(rgba(0, 0,0,0.8), rgba(0,0,0,0.5)), url(../img/hive-tools.jpg);
}
.equipment-list.beeplant::before{
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/bee-nector.jpg);
}

/*----------------- Equipments Section ----------------*/

/*------------------ Contacts ------------------------*/
.testimonials{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/combs.jpg);
    background-size: cover;
    position: relative;
}

.testimonials::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.7rem;
}

.testimonial{
    width: 100%;
    color: var(--clr-light);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-customer img{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border: 3px solid var(--text-accent);
}

.testimonial-customer{
    margin-bottom: -4rem;
}
.testimonial-text-box{
    padding: 0 1.5rem;
    margin-top: 2rem;
    position: relative;
}

.testimonial-text-box i{
    position: absolute;
    top: -7.8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: var(--text-accent);
    opacity: .8;
    z-index: -1;
}

.contact-container{
    width: 95%;
    margin: auto;
    overflow: hidden;
    justify-content: left;
}

main .contact-section{
    background: linear-gradient(rgba(0, 0,0,0.7), rgba(0,0,0,0.4)), url(../img/contact-us.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}

#contacts .contact-container h2{
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: var(--clr-light);
    letter-spacing: 2px;
}

#contacts .contact-container p{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: var(--white);
    letter-spacing: 3px;
}

.contact-form i.fas{
    font-size: 16px;
    padding: 1%;
    border-radius: 80%;
    background-color: none;
    margin: 2%;
    cursor: pointer;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.contact-form i.fas:hover{
    text-align: left;
    justify-content: left;
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}

.contact-form{
    display: grid;
    grid-template-columns: auto auto;
    /* grid-gap: 5px; */
}

.form-info{
    text-align: center;
    font-size: 16px;
    font-style: italic;
    color: var(--white);
    letter-spacing: 2px;
}

.contact-section .move-up{
    position: absolute;
    right: 6%;
    margin-top: -9rem;
}
.contact-section .move-up span{
    color: var(--text-accent);
}
.contact-section .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}


footer{
    width: auto;
    height: auto;
    padding: 0.2rem 0;
    background-color: #d7d4ed;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
footer p{
    font-size: 1rem;
}
footer a{
    border: 2px solid var(--midnight);
    padding: 1px;
    color: var(--midnight);
}
/*------------------ Contacts ------------------------*/

/*----------------- Main Content ------------------*/

/* Viewport less than or equal to 750px */

@media only screen and (max-width: 750px){
    strong{
        font-size: 1.3rem;
    }
    .nav{
        padding: 0 0.5rem;
    }
    .nav .nav-items .nav-link{
        padding: 0.9rem 1rem;
        font-size: 0.9rem;
    }
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
        width: 95%;
    }

    main .site-title .main-message h1{
        font-size: 2rem;
    }

    main .site-title .main-message p{
        font-size: 1rem;
        margin-right: 1%;
    }
    main .site-title .main-message .btn{
        margin-left: 30%;
        border-radius: 2rem;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    }

    .service + .service{
        margin-right: 2em;
    }
    .contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: left;
    }
    .contact-section .submit{
        width: 60%;
    }
}

@media only screen and (max-width: 350px){
    .nav{
        padding: 0 .2rem;
    }
    .nav .nav-brand a{
        font-size: 1.5rem;
    }
    .nav .toggle-collapse{
        margin-right: 0;
        width: 95%;
    }

    main .site-title .main-message p{
        font-size: 1rem;
        margin-right: 1%;
    }
    .contact-section .contact-form{
        display: block;
        width: 100%;
    }
    .contact-form i.fas{
        font-size: 18px;
        text-align: left;
    }
    .form-info{
        font-size: 12px;
        text-align: left;
    }
}

/* Viewport less than or equal to 750px */